@model kumalo.Models.UserRegisterModel;

@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style_log_reg_edit.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <center>
        <div class="wrapper">
            <form asp-controller="Home" asp-action="Register" method="post">
                <h1>Register</h1>
                <div class="input-box">
                    <input asp-for="@Model.Username" type="text" placeholder="Username" />
                    <i class='bx bxs-user'></i>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input asp-for="@Model.Password" type="password" placeholder="Password" />
                    <i class='bx bxs-lock-alt'></i>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input type="password" placeholder="Confirm Password" />
                    <i class='bx bxs-lock-alt'></i>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div>
                    <select class="input-box" asp-for="@Model.Role">
                        <option value=null disabled selected>Choose your role in the platform</option>
                        <option value="Supplier">Supplier - I offer my services</option>
                        <option value="Demander">Demander - I seek other's services</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>


                <select class="input-box">
                    <option disabled selected>Choose your role in the platform</option>
                    <option value ="Supplier">Supplier - I offer my services</option>
                    <option value="Demander">Demander - I seek other's services</option>
                </select>

                <div class="error-message">@Html.ValidationMessage("registerError")</div>

                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </center>
</body>
</html>
