
body {
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.display-4 {
    font-size: 2.5em;
}

.all-users-section {
    margin: 20px auto;
    width: 80%;
}

.all-users-header {
    background-color: #003300;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 1.5em;
    margin: 0;
}

.users-list {
    display: flex;
    flex-direction: column;
}

.user-box {
    background-color: #d9e8c3;
    color: #333;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #003300;
    border-radius: 12px;
    display: flex;
}

.user-image {
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin-right: 20px;
}

.user-details {
    flex-grow: 1;
}

.user-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.user-box p {
    margin: 5px 0;
}

.user-box a {
    color: #003300;
    text-decoration: none;
}

    .user-box a:hover {
        text-decoration: underline;
    }
